//--------------------------------------------------------------
// FLEXBOX
//--------------------------------------------------------------


////
/// @group mixins
/// @author Hector Ovalles
////

@mixin flexbox-hy($flow, $halign, $valign){
	display: flex;
	flex-flow: $flow;
	justify-content: $valign;
	align-items: $halign;
}
