/*
Theme Name: Hormonal yoga
Theme URI: http://hormonalyoga.org/
Author: Hector Ovalles
Author URI: https://webdevstudios.com/
Description: Web site for hormonal yoga
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: hormonal
Tags: custom

This theme, like WordPress, is licensed under the GPL.

Based on Underscores http://underscores.me/, (C) 2012-2017 Automattic, Inc.

*/
$beige : rgba(217,195,171,.35);
$second-beige: rgba(213,208,200,.8);
$terra : #B6838D;
$output-bourbon-deprecation-warnings: false;
@import 'bourbon';
@import 'utilities/functions/index';
@import 'utilities/variables/index';
@import 'neat';
@import 'utilities/mixins/index';
@import 'utilities/helpers/index';
@import 'assets/bower_components/normalize-css/normalize.css';
@import 'assets/bower_components/animate.css/animate.css';

@import 'base/index';
@import 'structure/index';
@import 'modules/index';
@import 'plugins/index';
@import 'views/index';
@import 'widgets/index';

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: $beige;
    color: darken($beige, 60%);
}
body, h2 {
    font-family: 'Nunito', sans-serif;
}
//Fix normalize extra padding.

article, aside, footer, header, nav, section {
    display:flex;
}
#hy-header .background-header {
    // background: url('http://localhost:8888/hormonal-yoga/wp-content/uploads/2017/10/cabecera-01.png') no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}
#cd-intro {
    // background:url("http://localhost:8888/hormonal-yoga/wp-content/uploads/2017/10/kristopher-allison-132447.jpg") no-repeat center center;
    background-size:cover;
    height:50vh;
    // visibility: visible;
}
#hy-nav {
    height:66px;
    overflow: visible;
    display: flex;
    justify-content: center;
}
.logo-nav {
    opacity: 0;
    background: #b6838d;
    // background-size: auto auto;
    background-size: 80% !important;
    height: 127px;
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 99999999;
    width: 142px;
    text-align: center;
    border-radius: 4px;
    transition: .51s ease-out;
}
.is-fixed .logo-nav {
    opacity: 1;
    transform:translateY(22px);
    transition: .51s ease-out;
}
nav.cd-secondary-nav {
    // position: relative;
    width: 100%;
    // height:17% !important;
    overflow: hidden;
    // min-height: 7%;
    background: $terra; /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #a76d73, #B6787F); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #a76d73, #B6787F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    // display: flex;
    // justify-content: center;
    // align-items: center;
    .menu-primary-container {
        // width:1024px;
        width:100%;
        height: 50px;
        display: flex;
        align-items: self-end;
        align-content: space-between;
        justify-content: center;
        padding-right: 0%;
        margin:auto;
    }
    #primary-menu { // ul
        width: 960px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            width: 100%;
            text-align: center;
            // padding: 14px;
            font-size: 16px;
            text-transform: uppercase;
            display: flex;
            &:not(:first-child):before {
                content: " | ";
                color:$color-white;

            }
            a {
                width: 100%;
                text-align: center;
             }
        }
    }
}
.cd-main-content {
}
.custom-logo-link {
    // width:50%;
    // height:100%;
    // background: rgba(46, 4, 4, 0.12);
    // display:flex;
    // justify-content: center;
    // align-items: center;
    // position: absolute;
    // top: 69px;
    // right: -43%;
    position: absolute;
    top: 21px;
    right: 60px;
    width: 100%;
    text-align: right;
}
.logo-fixed {
    // width:123px;
}
.hy-quees {
    // background:url('http://localhost:8888/hormonal/wp-content/uploads/2017/11/cosa-01.png') no-repeat;
    background-size: contain !important;
}
.hy-aboutme, .hy-quees  {

    flex-flow: column;
}
.hy-quees .content-quees:first-child,
.hy-aboutme .content-aboutme:first-child,
.inner-courses {
    display:flex;
    flex-flow: row !important;
}
.inner-courses > div {
    flex:1;
}
/*  Que es HY? */
.hy-quees .content-quees,
.hy-quees .cont-hy,
.hy-aboutme .content-aboutme,
.hy-aboutme .aboutme-cont,
.inner-courses {
    width:1024px;
    margin: auto;
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    counter-reset: section;
    padding: 2em 0px;
    overflow: visible;
}

.inner-courses .content-desc {
    padding-right: 50px;
}
.cont-hy {

    p{
        // column-count: 3;
        width:1024px;
        margin: auto;
        // display:flex;
        // flex-flow: column;
        counter-reset: section;
        padding-top: .5em;
        overflow: visible;
    }
}
.courses-list-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.courses-list-container h2 {
    text-align: center;
}
.hy-aboutme {
     background:$second-beige;
    width: 100%;
    h2 {
        // width:1024px;
        margin: auto;
    }
}
.content-quees {
    overflow: visible !important;
    // height: 400px;
     display:flex;
     flex-flow: row;
    overflow:hidden;
    padding: 20px 0px;
    justify-content: space-between;
    // flex:50%;
    > * {
        padding: 0px 12px;
    }
}
.content-quees:nth-child(even){
    .text-descr {
        order:1;
    }
    .img-quees {
        order:0;
    }
}
    h2 {
    color: $terra;
    font-size:2.6em;
    margin-bottom: 0;
    }
.text-descr {
    padding-left: 24px;
    width:50%; //Fix desktop issue
    // margin-right: 20px;
    p{
        width:450px;
        font-size: 1.1em;
    }
    // transform: translateY(-322px);
}
.img-quees-border {
    // background: url("http://localhost:8888/hormonal-yoga/wp-content/uploads/2017/10/pruebayoga.jpg") no-repeat center;
    background-size: auto auto;
    width: 400px;
    height: 350px;
    background-position: center !important;
    background-size: cover !important;
    border: 12px solid #b6838d;
    box-shadow: 3px 3px 12px 2px rgba(0,0,0,.47);
    border-radius: 4px;
}
.img-quees {
    width: 500px;
    height: 500px;
    position:relative;
    z-index: 100;
    //height: 200px;

    img {
        // object-fit: cover;
        // display: block;
        // max-width:330px;
        // max-height:600px;

    }
    &:before {
        // content:"";
        // width: 65%;
        // height: 75%;
        // background: #7E7575;
        // position: absolute;
        // z-index: -5;
        // top:-12px;
        // left:-12px;
    }
}
.is-fixed {
    position: fixed;
    top:0;
    z-index: 999;
    transition: .5s ease-in;
    // min-height:7%;
}
.is-fixed .menu-primary-container {
    justify-content: center !important;
    padding-right:0 !important;
}

.custom-logo {
    // transform: scale(1);
    // position: absolute;
    // top:12%;
    // left:25%;
}
.slide-in {
    // position: absolute;
    // top: -65px;
    // left: 100%;

}
@media only screen and (min-width : 1440px) {
    /* Styles */
.title-container-hy {
    position: absolute;
    width: 50%;
    height: 480px;
    top: 0px;
    left: 50px;
    font-size: 3em;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
}
    }
.title-container-hy {
    // background: red;
    position: absolute;
    top: 243px;
    left: 90px;
    font-size: 2.5em;
    color: $terra;
    line-height: 1.6em;
    h1 {
        margin:0;
    }
    span span {
        font-size: 22px;
        position: relative;
        top: -6px;
        left: 0px;
    }
}

.hy-footer {
    border-top: 8px solid white;
}
.content-footer {
    width:100%;
    display: flex;
    flex-flow: column;
    .text-footer {
        color: $color-white;
        background: $terra;
        text-align: center;
        height: 50px;
        font-size: 1em;
    }
    .img-footer {
        text-align: center;
        background: $terra;
        width:100%;
        img {
            height: 100px;
        }
    }
}

.hy-contact {
    @include flexbox-hy(column,center,center);
    min-height:400px;
    background: lighten($beige, 44%);
    h2 {
      //  padding: 2em;
    }
    .contact-icons {
        width: 1024px;
       padding-bottom: 2em;
        display: flex;
        justify-content: space-around;

        .contact-card-hy {
          @include flexbox-hy(column,center,center);
          i{
            padding: .5em 0;
          }
          a {
            color: darken($beige, 60%);
          }
        }
    }
}
.admin-hy-h2 {
  color:red;
  font-size:3em;
}
